* {
    box-sizing: border-box;
    margin: -2px auto;
    font-family: "微軟正黑體";
    
}
body {
    background-image: linear-gradient(to right, #c39874 0%, #d2bbb7 100%);
    min-height: 100%;
}

header {
    background: linear-gradient(to bottom, #424242 0%, #2a2828 40%, #100f0f 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    text-align: left;
    font-size: 25px;
    color: white;
    margin: 0px;
    padding: 8px;
    height: 100px;
    width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    color: #100b05;
    background: linear-gradient(to bottom, #100f0f 0%, #2a2828 40%, #100f0f 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
}
  

.logo{
    float: left;
}
li{
    float: left;
    color: #2b2927;
    margin: 3px;
    border-right:0.5px solid #ffffff97;

}
li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #cec9c5;
    
}
li :hover{
    background-color: #5a444d;
 
    padding: 0;
}







.t-icon {
    display: flex;
    float: right;
}

.t-search {
    margin-top: 20px;
    margin-right: 40px;
}

.searchForm {
    display: flex;
    background-color: transparent;
    border: 1px solid #cec9c5;
}

.searchText {

    font-size: medium;
    width: 180px;
    height: 43px;
    border: none;
    outline: none;
    padding: 0 15px;
    background-color: transparent;


    
}

.searchIcon {
    padding: 0px 15px;
    background-color: transparent;
    border: none;

}

.t-member {
    margin-top: 20px;
    margin-right: 40px;
}

.t-cart {
    margin-top: 20px;
    padding-right: 30px;
}
footer {
   
    color: white;
    text-align: center;
    position: absolute;

    width: 100%;
    text-align: center;
    position: absolute;
    float: flex;
    width: 100%;
    background: transparent;
}
table{
    width: 80%;
    margin: auto;
    color: rgb(2, 2, 2);
    margin-bottom: 40px;
    text-align: center;
    border: 2px solid black;

}
table td{
    padding: 20px;
    
}
.date{
    text-align:left;
    margin-top: 30px ;
    color: #0e0e0e;
    font-weight: bold;
    margin-left: 10%;
    font-size: 12px;
    margin-bottom: 5px;
}
.upp td{

    padding: 5px;
    text-align: center;
    color: #0e0e0d;
    padding: 10px;
    font-weight: bold;

}
.tittle1{
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    font-weight: 1000;
}